@charset "utf-8";
@import url(../common/global.css);
body { margin:0; padding:0; font:normal 12px/1.231 Arial, SimSun, sans-serif; color:#555}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, button, p, th, td { margin:0; padding:0; }
fieldset, img { border:0; vertical-align:bottom;}
table { border-collapse:collapse; border-spacing:0; font-size:12px}
ol, ul { list-style:none; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:400; }
strong { font-style:normal; font-weight:700; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:400; }
q:before, q:after { content:""; }
abbr, acronym { border:0; }
a { color:#0069ca; text-decoration:none;outline:none }
input, textarea{outline:none}
.fL { float:left; display:inline }
.fR { float:right; }
.hide{ display:none}
.show{ display:block}
.bold{ font-weight:bold}
.f22{ font-size:22px}
.f14{ font-size:14px}
.cf { *zoom:1; }
.cf:after { clear:both; display:block; height:0; visibility:hidden; content:"\20"; }
.f24{ font-size:24px;}
.f18{ font-size:18px;}
.f16{ font-size:16px;}
.yahei{ font-family:5fae\8f6f\96c5\9ed1;}


.banner{background:#0B3863 url(http://source.qunar.com/package/zhuanti/20130422/b2_v2.jpg) 50% top no-repeat; height:425px;}
.banner_ct{ width:980px; margin:0 auto;}
/*分享*/
.b_share{ width:980px; margin:0 auto; position:relative; z-index:66;}
.e_share_box{ position:absolute; right:40px; top:-40px; height:16px;}
.e_share_box .t{ margin-right:10px; color:#1199D8; line-height:16px; float:left;}
.e_share_box .a{ display:inline-block; width:16px; height:16px; margin-right:8px; background: url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 0 no-repeat; }
.e_share_box .b{ background-position:-26px 0;}
.e_share_box .c{ background-position:-52px 0;}
.e_share_box .d{ background-position:-78px 0;}
.e_share_box .e{ background-position:-104px 0;}
/*.e_share_box .a:hover{  }
.e_share_box .b:hover{ background-position:-76px -31px;}
.e_share_box .c:hover{ background-position:-98px -31px;}
.e_share_box .d:hover{ background-position:-124px -31px;}
.e_share_box .e:hover{ background-position:-148px -31px;}*/
.zt_md{ background:url(http://source.qunar.com/package/zhuanti/20130422/bg-xy.jpg); }
.zt_md_box{ background:url(http://source.qunar.com/package/zhuanti/20130422/rx.jpg) repeat-x; padding-bottom:4px; }
.b_tabs{ width:980px; margin:0 auto 16px;}
.e_tabs_t{ width:980px; height:88px; background:url(http://source.qunar.com/package/zhuanti/20130422/png24.png) 0 0; position:relative; z-index:2;}
.e_tabs_t .m_t{font: bold 30px/66px \5fae\8f6f\96c5\9ed1; color:#fff; padding:0 0 0 126px;}
.e_tabs_t .m_t .ft1{ margin-left:12px; color:#FCEA00;}
.e_tabs_t .nav{ padding:15px 128px 0 0;  overflow:hidden; zoom:1; float:right;}
.e_tabs_t .nav_ul{margin-left:-2px;}
.e_tabs_t .nav .deactive{ width:107px; float:left; cursor:pointer; text-align:center; color:#fff; font:bold 18px/49px \5fae\8f6f\96c5\9ed1; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -80px;}
.e_tabs_t .nav .active{ width:107px; float:left; text-align:center; color:#9C290E; font:bold 18px/49px \5fae\8f6f\96c5\9ed1; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -21px;}
.e_tabs_box{ width:760px; border:5px solid #A72626; border-radius:5px; margin:-94px auto 0; padding-top:75px; background:#fff; position:relative;}
.b_djline_box{ overflow:hidden; zoom:1;}
.b_djline{ padding:26px 0 10px 30px; border-top:1px dotted #99280D; margin:-1px 0 0;}
.e_djline_pic{ width:220px; height:190px; float:left; margin-right:20px;}
.e_djline_pic .hd{ height:147px; margin-bottom:3px; position:relative;}
.e_djline_pic .t_show{ position:absolute; width:100%; line-height:1.5; bottom:0px; left:0px; color:#fff; background-color:rgba(0,0,0,.6); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000',GradientType=0 ); }
.e_djline_pic .t_show_box{ padding:8px;}
.e_djline_pic .t{ font: normal 18px/1.5 \5fae\8f6f\96c5\9ed1; color:#FCE900; padding-right:12px;}
.e_djline_pic .bd{}
.b_imgtabs{}
.e_imgtabs_box{ width:189px; height:40px; float:left; overflow:hidden; zoom:1; margin:0 0 0 5px;}
.e_imgtabs_box .m_ul{}
.e_imgtabs_box .deactive,
.e_imgtabs_box .active{ width:60px; height:40px; overflow:hidden; float:left; display:inline; margin-right:3px; cursor:pointer;}
.e_imgtabs_box .active{ width:58px; height:38px; border:1px solid #f60;}
.b_imgtabs .prev,
.b_imgtabs .next{ width:13px; height:25px; margin-top:6px; float:left; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -142px; cursor:pointer;}
.b_imgtabs .next{ float:right; background-position:-18px -142px;}
.e_djline_list{ width:450px; float:left; }
.e_djline_list .m_ul{}
.e_djline_list .m_ul .pr{ float:right; width:128px; text-align:right; margin-top:-5px;}
.e_djline_list .m_ul .price{ color:#f60;}
.e_djline_list .m_ul .lijian{ width:50px; line-height:18px; font-weight:bold; color:#9C290D; padding-left:34px; text-align:center; display:inline-block; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) -36px -142px;}
.e_djline_list .m_ul .t{ font:bold 15px/1.1 \5fae\8f6f\96c5\9ed1; margin-bottom:6px; height:17px; overflow:hidden; zoom:1; color:#005EAF;} 
.e_djline_list .m_ul .tips{ height:15px; overflow:hidden; zoom:1; color:#888;}
.e_djline_list .deactive{ margin-bottom:20px; }
.e_djline_list .deactive a{  cursor:pointer;}
.e_djline_list .deactive a:hover .t{ color:#f60;}
.e_djline_list .m_action{ text-align:right;}
.e_djline_list .m_action .more{ width:62px; height:23px; display:inline-block; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -177px;}
.zt_md1{ background:url(http://source.qunar.com/package/zhuanti/20130422/bg-xy1.jpg); padding:20px 0;}
/*游轮特色*/
.b_yl{ width:950px; margin:0 auto;}
.e_yl_t{ height:50px; border-bottom:2px solid #fff; margin-bottom:12px;}
.e_yl_t .nav{ float:right;}
.e_yl_t .nav .active{ width:184px; float:left; text-align:center; color:#fff; font:bold 24px/50px \5fae\8f6f\96c5\9ed1; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -236px;}
.e_yl_t .nav .deactive{ margin-top:8px; cursor:pointer; width:148px; float:left; text-align:center; color:#2977D2; font:bold 22px/42px \5fae\8f6f\96c5\9ed1; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -291px;}
.e_yl_t .title{ width:130px; height:26px; margin-top:12px; float:left; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -205px;}
.b_navpic{ height:420px; overflow:hidden;}
.e_navpic_nav{ width:72px; float:left; padding-right:20px; }
.e_navpic_pic{ height:420px; width:836px; border-left:2px solid #005AA9; float:left; padding:0 0 0 20px;}
.e_navpic_pic .pic{ position:relative;}
.e_navpic_pic .pic_text{ left:30px; top:20px; position:absolute;}
.e_navpic_pic .pic_text .t{ font: bold 30px/1.1 \5fae\8f6f\96c5\9ed1; color:#FCF300; margin-bottom:10px; }
.e_navpic_pic .pic_text .c{ line-height:20px; font-size:13px; color:#fff;}
.e_navpic_pic .pic3_a{ position:relative; width:536px; float:left;}
.e_navpic_pic .pic3_b{ position:relative; float:right; width:295px; height:245px; margin-bottom:5px;}
.e_navpic_pic .pic3_c{ position:relative; float:right; width:295px; height:170px; margin-bottom:5px;}
.e_navpic_pic .pic3_text{ position:absolute; bottom:10px; left:0px; padding:0 20px; font:bold 24px/46px \5fae\8f6f\96c5\9ed1; color:#fff;background-color:rgba(0,0,0,.6); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000',GradientType=0 );}
.e_navpic_nav .active,
.e_navpic_nav .deactive:hover{ width:100%; text-align:center; position:relative; color:#0064B8; font:bold 24px/30px \5fae\8f6f\96c5\9ed1; margin-bottom:48px;}
.e_navpic_nav .deactive{width:100%; margin-top:8px; cursor:pointer; text-align:center; position:relative; color:#0C85EB; font:normal 24px/30px \5fae\8f6f\96c5\9ed1; margin-bottom:48px;}
.e_navpic_nav .icon,
.e_navpic_nav .deactive:hover .icon{ width:30px; height:31px; display:block; position:absolute; right:-35px; top:0px; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -343px;}
.e_navpic_nav .deactive .icon{ background-position:-42px -343px;}
/*精彩视频*/
.b_viedo{ width:950px; margin:0 auto; padding:20px 0;}
.e_viedo_t{font:bold 24px/1.1 \5fae\8f6f\96c5\9ed1; color:#fff; padding-left:38px; margin-bottom:10px; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) -199px -173px no-repeat;}
.e_viedo_c{ height:520px; background:#fff;}
.e_viedo_c .m_viedo{ width:720px; height:480px; padding-top:20px; margin:0 auto;}
/*活动说明*/
.b_text{ width:950px; margin:0 auto;}
.b_text .m_t{ margin-bottom:10px;}
.b_text .m_ct{ background:#156AC0; height:360px;}
.b_text .m_ct .box{ padding:30px; color:#fff;}
.b_text .m_ct .p1{ position:relative; padding-left:26px; font:normal 14px/24px Arial, sans-serif;  padding-bottom:14px;}
.b_text .m_ct .p1 .nb{ position:absolute; left:0px; top:0px;}
.b_text .m_ct .p2{ font:normal 14px/27px Arial, sans-serif; padding-bottom:10px; }
.b_text .m_ct .act{ text-align:right;}
.b_text .m_ct .act .more{ color:#FCF300; font-size:14px;}
.e_text_1{ width:578px; float:left; margin-right:10px;}
.e_text_2{ width:360px; float:right;}
.e_text_3{ clear:both; padding:20px 0 0;}
.b_text .detail_tbe th{ background:#0F4AA7; height:44px; border:1px solid #64A1DC; text-align:center; font-size:14px; color:#DFE400;border-bottom-width:2px; }
.b_text .detail_tbe td{ background:#156AC0; height:34px; border:1px solid #64A1DC; text-align:center; font-size:14px; color:#fff;}
.b_text .detail_tbe .tips td{ background:#1360B8; height:24px; color:#89B0DC; font-size:12px;}
/*微博互动*/
.b_wb{ width:950px; margin:0 auto; padding:30px 0;}
.e_wb_t{}
.e_wb_c{ padding:10px 0; background:#fff;}
/*活动进行中*/
.b_ing{ width:950px; margin:0 auto;}
.e_ing_t{ margin-bottom:10px;}
.e_ing_c{}
.e_ing_c .m_pic{ width:102%;}
.e_ing_c .m_pic .deactive{ border:1px solid #A9D0F6; padding:6px; background:#fff; width:298px; height:188px; float:left; margin-right:8px; overflow:hidden; zoom:1;}
/*回顶部*/
.pop_gotop{ width:51px; height:97px; background:url(http://source.qunar.com/package/zhuanti/20130422/skin.png) 0 -394px; position:fixed;}
.pop_gotop .top{ height:49px; cursor:pointer; margin-bottom:1px;}
.pop_gotop .bottom{ height:47px; cursor:pointer;}
/*浮动层*/
.pop_nav{ width:182px; height:339px; background:url(http://source.qunar.com/package/zhuanti/20130422/png24_nav.png); position:fixed;}
.pop_nav .box{ padding:92px 0 0 10px;}
.pop_nav a{ width:171px; display:block; text-align:center; font: bold 18px/38px \5fae\8f6f\96c5\9ed1; color:#A07E09;}
.pop_nav a:hover{ background:url(http://source.qunar.com/package/zhuanti/20130422/png24_nav.png) 0 -349px; color:#fff;}
