@import url(../global.css);
h3{font-size: 14px;font-weight: bold;color: #666666;}
h4{;font-size: 12px;font-weight: bold;color: #666666;}
.orderDetail{font-family: "宋体";padding: 10px 10px;width: 1136px;z-index: 3;}
/*展示信息*/
.orderDetail .details{font-size:12px;color:#666666;margin-right: 30px;float: left;position: relative;}
.orderDetail .details td{padding-top: 5px;padding-right: 15px;height: 20px}
.orderDetail .details .td3{padding-left: 25px;}
.orderDetail .details .words1{margin-right: 8px;}
.orderDetail .details .calls{margin-right: 25px;cursor: pointer;height: 18px}
.orderDetail .details .arail{font-family: Arial;}
.orderDetail .disable{background-color: #FFFFFF; border: medium none;width: 240px;}
.u118{width: 47px;height: 16px;line-height: 16px;font-size: 12px;vertical-align: middle;margin-top: -5px;}
.u117{height: 20px;width: 62px;line-height: 20px;font-size: 12px;}
.u673{height: 22px;width: 186px;}
.keyname{color: #999999;}
.align-right{text-align: right;}
/*选择分类*/
.orderDetail .typestab{margin-top: 15px;position: relative;z-index: 20}
.orderDetail .typestab dl{width: 110px;height: 26px;margin-right: 8px;border: 1px solid #cccccc;border-radius: 3px 3px 3px 3px;float: left;cursor: pointer;position: relative;}
.orderDetail .typestab dl .flight{background: url(../../img/flight.png);background-position: 0 0;}
.orderDetail .typestab dl .hotel{background: url(../../img/hotel.png);}
.orderDetail .typestab dl .package{background: url(../../img/vacation.png);}
.orderDetail .typestab dl .train{background: url(../../img/train.png);}
.orderDetail .typestab dl .others{background: url(../../img/others.png);}
.orderDetail .typestab dl .ticket{background: url(../../img/ticket.png);}
.orderDetail .typestab dl .local_travel{background: url(../../img/local_travel.png);}
.orderDetail .typestab dl dt{margin: 5px 5px;float: left;width: 16px;height: 16px;overflow: hidden;}
.orderDetail .typestab dl .tit{font-family: "宋体";font-size: 14px;color: #666666;line-height: 26px;vertical-align: middle;text-align: center;}
.orderDetail .typestab dl .yellow{font-family: "宋体";font-size: 14px;color: #FF770D;font-weight: bold;margin-top: 15px;padding-left: 65px;}
.orderDetail .typestab dl:hover{background-color: #FFFFE2;}
.orderDetail .typestab dl:hover .tit{color: #FF770D;font-weight: bold;}
.orderDetail .typestab dl:hover dt{background-position: 0 16px;}
.orderDetail .typestab .active dt{background-position: 0 16px;}
.orderDetail .typestab .active .tit{color: #FF770D;font-weight: bold;}
.orderDetail .typestab .active{background-color: #FFFFE2;}
/*222*/
.active{background-color: #FFFFE2;}
.active .tit{color: #FF770D;font-weight: bold;}
.active dt{background-position: 0 16px;}
.orderDetail .typestab dl .list{background-color: #FFFFE9;display: none;position:absolute;left:-1px;z-index: -1;border:1px solid #ccc;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');box-shadow: 3px 3px 4px #ccc; -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc;}
.orderDetail .typestab dl .list table{text-align: right;width: 110px;}
.orderDetail .typestab dl .list table td{padding: 5px 10px 0 0;font-family: "宋体";color: #666;font-size: 14px;}
/*表格*/
.tablelist{margin: 10px 0 20px 0;width: 836px;}
.tablelist .condition{width: 814px;border-top: 1px solid #ccc;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #dcdbdb;height: 23px;background-color: #ECECEC;padding: 5px 10px;}
.tablelist .condition .inputs{border: 1px solid #adadad;height: 20px;padding: 1px 3px 0;float:left;vertical-align: center;line-height: 20px;font-size: 12px;}
.tablelist .condition .w16{margin-right: 18px;font: 12px simsun,arial,sans-serif;vertical-align: center;line-height: 20px;font-size: 12px;}
.tablelist .condition .qdate{float:left;margin-left: 15px;position: relative;}
.tablelist .condition .qtext{position: absolute;top:4px;left: -9px}
.tablelist .condition .right{float: right;margin-top: 4px;}
.tablelist .condition .quiry{cursor: pointer;width: 36px;margin-left: 15px;}
.tablelist .gridrlist{width: 836px;}
.tablelist .gridrlist thead tr{border-bottom: 2px solid #dcdbdb;border-left: 1px solid #ccc;border-right: 1px solid #ccc;font-weight: bold;}
.tablelist .gridrlist thead td{height: 30px;background-color: #ECECEC;}
.tablelist .gridrlist td{padding-left: 3px;_border: 1px solid #ccc;}
.tablelist .gridrlist tbody td{border: 1px solid #ccc;height: 25px;}
/*shaixuan*/
#orderstatu{position: relative;}
#orderstatu .sx{float: right;position: absolute;top:1px;right: 10px;z-index: 12}
#orderstatu .sx #shaixuan{position:  absolute;right: -10px;top: -8px;}
#orderstatu .popbox{width: 260px;height: 100px;border: 1px solid #a4a9b2;font-size: 12px;font-family: "宋体";font-weight: normal;color:#666;position: absolute; top: 23px;right: -10px;background-color: #fff;}
#orderstatu .popbox .popclose{position: absolute;top:5px;right: 10px;cursor: pointer;}
#orderstatu .sx .checkbox{margin: 10px 10px;}
#orderstatu .popbox .checkbox input{margin-right: 3px;}
#orderstatu .popbox .checkbox label{cursor: pointer;}
#orderstatu .popbox .checkbox .tb{padding: 8px 0;}
#orderstatu .popbox .checkbox table tr{border: none;}
#orderstatu .popbox .checkbox table td{width: 80px; height: 30px;background-color: #FFF;border: none;font-weight: normal;}
#orderstatu .popbox .checkbox button{width: 50px;height: 22px;margin-right: 15px;cursor: pointer;}
/*详情*/
.catagories{margin-bottom: 30px;}
.problems{position: relative;margin: 10px 0;}
.problems .copyprev{float: right;margin-right: 300px;cursor: pointer;color: #3366FF;}
.brief{height: 28px;margin: 0 10px 7px 0;background-color: #FFFFEC;border: 1px solid #ccc;min-width: 320px;}
.brief td{padding: 0 5px;}
.close{position: absolute;right: 5px;top: 6px;cursor: pointer;}
/*disable之后*/
.gray .li{padding-right: 35px;margin: 0 10px 7px 0;float: left;background-color: #E4E4E4;border: 1px solid #ccc;}
.gray .problems{width: 410px;border: 1px solid #ccc;background-color: #E4E4E4;position: relative;margin: 10px 0;}
.gray td{color: #999999;cursor: default;}
.gray .blue{color: #999999;}
.gray .red{color: #999999;}/*订单被操作完之后变为灰色 problems 后面加上gray 并改变problems的背景色 js中unbind事件*/
.gray .onselect{background-color: #E4E4E4;}
.gray .pointer{cursor: default;}
.gray .close{cursor: default;}
/*选择项*/
.catagories .ui-category .next{background-position: center;background-repeat: no-repeat;background-image: url(../../img/next.png);width: 11px;height: 166px;float: left;}
.catagories .ui-category li{margin-bottom: 10px;height: 166px;border: 1px solid #ccc;padding: 6px 6px;float: left;overflow-y: auto;overflow-x:hidden;background: #fff;}
.catagories .ui-category li p{font-family:"宋体";font-size:13px;color:#666666;line-height: 22px;height: 22px;width: 235px;padding: 3px 3px;}
.catagories .ui-category li .p{font-family:"宋体";font-size:13px;color:#666666;line-height: 22px;height: 22px;width: 240px;padding: 3px 3px;cursor: pointer;}
.catagories .ui-category li .p:hover{background-color: #E1F0FF;}
.catagories .texts{width: 833px;height: 78px;border: 1px solid #ccc;margin-top: 8px;}
.onselect{background-color: #E1F0FF;}

.handledetails .hands{width: 833px;}

/*关单*/
.dohandle{padding-left: 180px;}
.dohandle .opretabtn{margin-top: 15px;position: relative;}
.dohandle .opretabtn dl{width: 140px;height: 46px;margin: 0 5px;border: 1px solid #cccccc;float: left;cursor: pointer;border-radius: 5px 5px 5px 5px;}
.dohandle .opretabtn dl dt{margin: 7px 7px;float: left;width: 32px;height: 32px;overflow: hidden;}
.dohandle .opretabtn dl .tit{font-family: "宋体";font-size: 14px;color: #666666;line-height: 46px;vertical-align: middle;text-align: center;}
.dohandle .opretabtn dl .yellow{font-family: "宋体";font-size: 14px;color: #FF770D;font-weight: bold;vertical-align: middle;text-align: center;line-height: 46px;}
.dohandle .opretabtn dl:hover{background-color: #FFFFE2;}
.dohandle .opretabtn dl:hover .tit{color: #FF770D;font-weight: bold;}
.dohandle .opretabtn dl:hover dt{background-position: 0 32px;}
.dohandle .opretabtn dl .finished{background: url(../../img/finished1.png);}
.dohandle .opretabtn dl .transfer{background: url(../../img/transfer1.png);}
.dohandle .opretabtn dl .combine{background: url(../../img/combine1.png);}

/*layer*/
.layer_ct{background-color: #fff;min-height: 130px;width: 280px;border: 1px solid #ccc;}
.layer_ct .title_lay{background-color: #ECECEC;font-family:"宋体";font-size:14px;font-weight:bold;color: #666;height: 20px;padding: 5px 5px;}
.layer_ct .title_lay .icon_close{position: absolute;right: 5px;background-image: url(../../img/close.png);width: 16px;height: 16px;cursor: pointer;}
.layer_ct .dele_tip{margin: 20px 5px;text-align: center;}
.layer_ct .dele_tip select{width: 75px;height: 20px;margin: 0 10px;}
.layer_ct .tct{text-align: center;}
.layer_ct .tct button{margin-right: 15px;margin-bottom: 5px;cursor: pointer;}
/*dialog*/
.layer_dialog{width: 580px;background-color: #fff;border: 1px solid #ccc;}
.layer_dialog .title_lay{background-color: #ECECEC;font-family:"宋体";font-size:14px;font-weight:bold;color: #666;height: 20px;padding: 5px 5px;}
.layer_dialog .title_lay .icon_close{position: absolute;right: 5px;background-image: url(../../img/close.png);width: 16px;height: 16px;cursor: pointer;}
.layer_dialog .dele_tip{margin: 20px 5px;text-align: center;}
.layer_dialog .dele_tip input{width: 450px;height: 16px;margin: 0 10px;}
.layer_dialog .dele_tip button{width: 44px;height: 21px;margin: 0 10px;vertical-align: middle;text-align: center;font-family: "宋体"; font-size: 12px;line-height: 12px;}


/*日期*/
.qunar-dp {width: 202px;display: inline-block;}
.qunar-dp {color: #555555;font: 12px/1.5 tahoma,Geneva,sans-serif;position: relative;width: 203px;z-index:10;left: 5px;*top:1px;}
.qunar-dp .textbox {background-color: #FFFFFF;border: 0 none;font: 12px simsun,arial,sans-serif;height: 16px;padding: 2px 4px 1px;width: 191px;}
.qunar-dp .dp-info {cursor: pointer;font-size: 12px;height: 15px;line-height: 15px;padding: 0 0 0 4px;position: absolute;right: 5px;text-align: right;top: 3px;z-index: 1;+top:5px;_right:10px;}
.qunar-dp .dp-info b {background: url("http://source.qunar.com/site/images/2011/QN1CS1.gif") no-repeat scroll 2px 1px transparent;margin-top: 2px;display: inline;float: right;height: 15px;width: 20px;}
.qunar-dp .dp-info .dp-text {background-color: #FFFFFF;display: inline;float: right;margin-top: 3px;}
.qunar-dp .q-datepicker {background-color: #FFFFFF;border: 1px solid #DDDDDD;right: 201px;position: absolute;top: 20px;}
.qunar-dp .q-datepicker .g {background-color: #FFFFFF;border: 1px solid #BABABA;left: -1px;overflow: hidden;position: absolute;top: 1px;width: 197px;z-index: 2;}
.qunar-dp .q-datepicker .g2 {width: 348px;}
.qunar-dp .q-datepicker .g:after {clear: both;content: " ";display: block;height: 0;visibility: hidden;}
.qunar-dp .q-datepicker .c {border-left: 1px solid #CCCCCC;display: inline;float: left;margin-left: -1px;position: relative;width: 100%;z-index: 1;}
.qunar-dp .q-datepicker .g2 .c {width: 50%;}
.qunar-dp .q-datepicker .h {color: #0069CA;height: 18px;padding: 3px 0;text-align: center;}
.qunar-dp .q-datepicker .p {background: url("http://source.qunar.com/site/images/2011/QN1CS1.gif") no-repeat scroll -48px 1px transparent;cursor: pointer;height: 16px;left: 5px;position: absolute;top: 5px;width: 16px;}
.qunar-dp .q-datepicker .n {background: url("http://source.qunar.com/site/images/2011/QN1CS1.gif") no-repeat scroll -65px 1px transparent;cursor: pointer;height: 16px;position: absolute;right: 5px;top: 5px;width: 16px;}
.qunar-dp .q-datepicker table {border: 1px solid #FFFFFF;border-collapse: collapse;width: 100%;}
.qunar-dp .q-datepicker th {border-bottom: 1px solid #CCCCCC;height: 22px;text-align: center;width: 14.286%;}
.qunar-dp .q-datepicker td {cursor: pointer;height: 18px;text-align: center; padding:2px 0;}
.qunar-dp .q-datepicker td span {display: block;width: 100%;}
.qunar-dp .q-datepicker .w0 {color: #C60B02;}
.qunar-dp .q-datepicker .w6 {color: #C60B02;}
.qunar-dp .q-datepicker .st-t {color: #0000FF;}
.qunar-dp .q-datepicker .st-a {background-color: #FDAB00;color: #FFFFFF;}
.qunar-dp .q-datepicker .st-s {background-color: transparent;cursor: default;}
.qunar-dp .q-datepicker .st-s:hover, .qunar-dp .q-datepicker .st-s-hover {background-color: #FFFFFF;cursor: default;}
.qunar-dp .q-datepicker .holi {color: #C60B02;}
.qunar-dp .q-datepicker .st-h {background-color: #FDAB00;color: #FFFFFF;}
.qunar-dp .q-datepicker .st-d {color: #999999;cursor: not-allowed;}
.qunar-dp .q-datepicker .st-d:hover, .qunar-dp .q-datepicker .st-d-hover {background-color: transparent;color: #999999;cursor: not-allowed;}
.qunar-dp .q-datepicker .st-a-r {background-color: #6899FF;color: #FFFFFF;}
.qunar-dp .qunar-dp-toD td:hover, .qunar-dp .qunar-dp-toD td-hover {background-color: #6899FF;color: #FFFFFF;cursor: pointer;}
.qunar-dp .qunar-dp-toD td.st-a-r {background-color: #6899FF;color: #FFFFFF;}
.qunar-dp .errtext {color: red;}
/*浮层*/
.float{display: inline-block;position: relative;}
.float:hover{border: 1px solid #ccc;background-position: right;background-repeat: no-repeat;background-image: url(../../img/tri.png);padding-right: 15px;}
.float:hover .customer{display: block;}
.float:hover .historydetail{display: block;}
.float .hs_head{background-color: #ECECEC;}
.float td{padding: 5px 10px;}
.historydetail{position: absolute;border: 1px solid #ccc;left: -1px;background-color: #fff;z-index: 50;display: none;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');box-shadow: 3px 3px 4px #ccc; -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc;}
.historydetail .tb-maxheight{max-height: 300px;overflow-y: auto;overflow-x: hidden;width: 600px;}
.customer{position: absolute;border: 1px solid #ccc;right: -1px;background-color: #fff;z-index: 3;text-align: left;display: none;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');box-shadow: 3px 3px 4px #ccc; -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc;}
.customer .name{text-align: right;}
.customer .customer_height{max-height: 300px;overflow-y: auto;overflow-x: auto;width: 400px;}
/*订单ota table float*/
.td_flow{position: relative;z-index: 15;}
.flow{z-index:3;position: absolute;width:450px;cursor: default;display: none;background-color: #fff;border: 1px solid #ccc;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');box-shadow: 3px 3px 4px #ccc; -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc;}
/*.float_table:hover .flow{display: block;z-index:3;}*/
.flow .ota{height: 30px;background-color: #ECECEC;vertical-align: middle;}
.flow .closefloat{background-image: url(../../img/close.png);width: 16px;height: 16px;cursor: pointer;position: absolute; right: -42px;}
.flow .transfering{cursor: pointer;color: #3366FF;margin-left: 10px;}
.flow a{font-family:Arial;font-size:12px;color: #3366FF;cursor: pointer;margin-top: 2px;}
.flow .lock{margin-left: 25px;color: green;}
.flow .otaname{font-family:"宋体";font-size:12px;font-weight: bold;color:#000;vertical-align: middle;line-height: 30px;margin-left: 10px;margin-right: 20px;}
.flow{z-index:3;position: absolute;width:450px;display: none;background-color: #fff;border: 1px solid #ccc;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');box-shadow: 3px 3px 4px #ccc; -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc;}
.float_table .flow table {background-color: #fff;}
.float_table .flow table td{border: none;padding: 2px 10px;background-color: #fff;}
.right{float: right; font-size: 12px;font-weight: bold;line-height: 19px;margin-right: 45px;margin-top: 5px;position: relative;text-align: center; vertical-align: middle;} 
.right .prev{height: 20px;width: 12px;background: url(../../img/prev.png) no-repeat;display: inline-block;left: -17px;margin-right: 10px;position: absolute; top: -1px;width: 12px;cursor: pointer;}
.right .next{height: 20px;width: 12px;background: url(../../img/next.png) no-repeat;display: inline-block; position: absolute; right: -15px; top: -1px; width: 12px;cursor: pointer;}
.flow_order textarea{width: 260px;height: 50px;background-color: #fff;}
.flow_order .btn{text-align: center;}
.flow_order .btn button{margin-left: 20px;height: 22px;margin-top: 10px;margin-bottom: 10px;cursor: pointer;}
.flow_order td{color: #666;background-color: #fff;}
/*//代理商*/
.flow-ota{z-index:3;cursor: default;position: absolute;display: none;background-color: #fff;border: 1px solid #ccc;width:450px;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');box-shadow: 3px 3px 4px #ccc; -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc;}
.float_table:hover .flow-ota{display: block;z-index:3;}
.flow-ota .ota{height: 30px;background-color: #ECECEC;vertical-align: middle;}
.flow-ota .closefloat{background-image: url(../../img/close.png);width: 16px;height: 16px;cursor: pointer;position: absolute; right: -42px;}
.flow-ota .transfering{cursor: pointer;color: #3366FF;margin-left: 10px;}
.flow-ota a{font-family:Arial;font-size:12px;color: #3366FF;cursor: pointer;margin-top: 2px;}
.flow-ota .otaname{font-family:"宋体";font-size:12px;font-weight: bold;color:#000;vertical-align: middle;line-height: 30px;margin-left: 10px;margin-right: 20px;}
.float_table .flow-ota table {background-color: #fff;}
.float_table .flow-ota table td{border: none;padding: 2px 10px;background-color: #fff;}
/*合并工单*/
.historylist .yellow{font-family:Arial;font-size:12px;font-weight:bold;color:#FF6600;}
.historylist span{padding-left: 15px;}
.combineOrder{width: 580px;}
.combineOrder td{padding: 5px 10px;}
.combineOrder .head{background-color: #ECECEC;height: 30px;}
.combineOrder .head td{font-family:"宋体";font-size:12px;font-weight:bold;color:#666666;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}