.gridrlist thead td {
    white-space: nowrap;
    padding:0 5px;
}
.gridrlist tbody .content {
    max-width:400px;
}
.gridrlist tbody td {
    vertical-align: top;
    padding:5px;
}

.tablelist{
    margin-top:0;
}
.orderDetail,.tablelist, .tablelist .condition{
    width:auto;
}
.tablelist .gridrlist  {
    width:100%;
}
.gridrlist .filter-panel label,.gridrlist .filter-panel a{
    display:inline-block;
    padding:5px 10px;
    width:70px;
}
.gridrlist .filter-panel label input {
    vertical-align: text-bottom;
}
.gridrlist .filter-panel{
    width:200px;
    position:absolute;
    right:0;
    display:none;
    background-color:#FFF;
    border: 1px solid #eee;
    white-space: normal;
}
.gridrlist .filter-keywords label{
    width:100px;
}
.gridrlist .filter-keywords{
    width:260px;
}
.gridrlist .filter{
    width:13px;
    height:32px;
    display:inline-block;
    background-image:url(../myimg/table_filter.png);
    vertical-align: middle;
}
/*查询部分*/
.condition > form{
    float:left;
}
.condition .download{
    float:right;
    height:24px;
    line-height:24px;
}

.tabs>ul{
    height:40px;
}
.tabs>ul>li{
float: left;
font-size: 14px;
height: 40px;
width: 120px;
text-align: center;
line-height: 42px;
cursor: pointer;
}
.tabs>ul>.deactive{
background-image: url(../myimg/unselect.png);
}
.tabs>ul>.active{
background-image: url(../myimg/select.png);
}
