<h1>Listing aas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aas.each do |aa| %>
  <tr>
    <td><%= link_to 'Show', aa %></td>
    <td><%= link_to 'Edit', edit_aa_path(aa) %></td>
    <td><%= link_to 'Destroy', aa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aa', new_aa_path %>
