a {
    blr:expression(this.onFocus=this.blur());/*IE使用*/
    outline-style:none;/*FF使用*/
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.clearfix {
    *zoom: 1;
}
.color3{
    color: #333;
}
.color9{
    color: #999;
}
.color6{
    color: #666;
}
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.body{
    margin:0px auto;
    padding: 0;
    border: 0px solid #B9C4CF;
    width: 1140px;
    display: block;
    min-height: 500px;
}
.top, .middle{
    margin-bottom: 20px;
}
.top{
    border-bottom: 3px solid #1B69A7;
    width: 100%;
}
.top .sub{
    float: left;
    height: 30px;
    line-height: 30px;
    border: 1px solid #B9C4CF;
    padding: 1px 10px;
    background-color: #F2F2F2;
}
.top .sel{
    background-color: #1B68AC;
    border: 1px solid #1B68AC;
    color: #FFF;
}
.top .sub span{
    display: inline-block;
}
.top .sub .day,.top .sub .order,.top .sub .close,.top .sub .tel{
    display: inline-block;
    line-height: 24px;
    width: 24px;
    height: 24px;
}
.top .sub .day{
    background: url(./img/10.png) no-repeat;
}
.top .sub .order{
    background: url(./img/9.png) no-repeat;
}
.top .sub .close{
    background: url(./img/8.png) no-repeat;
}
.top .sub .tel{
    background: url(./img/7.png) no-repeat;
}
.top .sel .day{
    background: url(./img/10.png) no-repeat;
}
.top .sel .order{
    background: url(./img/9.png) no-repeat;
}
.top .sel .close{
    background: url(./img/11.png) no-repeat;
}
.top .sel .tel{
    background: url(./img/7.png) no-repeat;
}
.middle{
    width: 100%;
}
.middle .left{
    float:left;
    width: 830px;
    padding-right: 24px;
    border-right: 1px solid #B9C4CF;
}
.middle .left .msg{
    width: 100%;
}
.middle .left .msg li{
    float: left;
    width: 204px;
    height: 76px;
    background-color: #f2f2f2;
    border: 1px solid #B9C4CF;
}
.middle .right{
    float:right;
    width: 264px;
}

.msg .sub-title{
    margin-left: 10px;
    font-size: 16px;
}
.msg .detail{
    font-size: 13px;
    padding-right: 20px;
}
.msg .info{
    background: url(./img/6.png) no-repeat;
    padding-left: 50px;
    font-size: 28px;
}

.task{
    margin: 10px 0;
}
.task .title{
    background: url(./img/1.png) no-repeat -3px -1px;
    padding: 5px 15px;
    font-size: 18px;
    color: #666;
}
.task .table{
    border-collapse: collapse;
    width: 100%;
}
.task .table .td1, .task .table-c .td1{
    width: 60px;
}
.task .table .td2, .task .table-c .td2{
    width: 130px;
}
.task .table .td3, .task .table-c .td3{
    width: 50px;
}
.task .table .td4, .task .table-c .td4{
    width: 400px;
}
.task .table-c{
    width: 100%;
    overflow-y: auto;
    height: 200px;
}
.task .table thead tr{
    background-color: #f2f2f2;
    font-size: 13px;
    color: #666;
}
.task .table td{
    padding: 0 10px;
}
.task .table tr{
    height: 40px;
}
.task .table tbody tr{
    font-size: 12px;
    border-bottom: 1px solid #B9C4CF;
    color: #999;
}
.task .area{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 130px;
    resize: none;
    overflow-y: auto;
}
.task .co{
    display: inline-block;
    background: url(./img/5.png) no-repeat -8px 1px;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFF;
    
}
.display, .download{
    display: inline-block;
    height: 24px;
    width: 24px;
}
.display{
    background-image: url(./img/3.png);
    margin-right: 10px;
}
.download{
    background-image: url(./img/4.png);
}
